@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-display: fallback;

  src:
    url('./static/fonts/Pretendard-Regular.otf') format('opentype'),
    url('./static/fonts/Pretendard-Regular.woff') format('woff'),
    url('./static/fonts/Pretendard-Regular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lighter';
  src: url('./static/fonts/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
/* SemiBold */
@font-face {
  font-family: 'semibolder';
  src: url('./static/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'bolder';
  src: url('./static/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  @apply max-w-screen-xl mx-auto;
  font-family: 'Pretendard', sans-serif;
}

.bolder {
  font-family: 'bolder', sans-serif;
}
.lighter {
  font-family: 'lighter', sans-serif;
}
.semibolder {
  font-family: 'semibolder', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
